/*
Author: Harmony Houg
File Name: styles.css
Date: October 1, 2024
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
    background-color: antiquewhite;
}

img {
    max-width: 50%;
    display: inline-block;
}

/* Style rule for header */
header {
    width: 100%;
    text-align: right;
}

/* Style rules for the navigation area */
nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #ff0095
}

nav li a {
    display: block;
    color: #ff0095;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block
}

.tablet-desktop {
    display: none;
}

/* Style rules for the main content */
main {
    clear: left;
    padding: 5%;
    font-size: 1.25em;
    font-family: "Roboto Slab", serif;
}

#me {
    width: 50%;
    float: left;
}
#intro {
    width: 100%;
    height: auto;
}

.round {
    border-radius: 8px;
}

#contact {
    text-align: center;
}

#contact a {
    color: #000;
    text-decoration: none;
}

/*
.map {
    border: 4px solid #000;
    align-content: left;
}
*/

/* Style rules for footer content */
footer {
    font-size: 1em;
    text-align: center;
    color: #ff0095;
}